{% extends '_base.html' %}

{% block title %}
    Login
{% endblock %}

{% block content %}
        <h1>Login</h1>

        <form style="margin-top: 40px;" action="" method="post">
            {% csrf_token %}
            <div class="auth-block">

                <div class="auth-block-label">
                    <label for="uresname">Username: </label>
                </div>
                <div class="auth-block-input">
                    <input name="username" type="text">
                </div>
            </div>

            <div class="auth-block">

                <div class="auth-block-label">
                    <label for="password">Password: </label>
                </div>
                <div class="auth-block-input">
                    <input name="password" type="password">
                </div>
            </div>

            <button style="margin-top: 20px;" type="submit">Submit</button>
        </form>
{% endblock %}