<!DOCTYPE html>
<html>
    <head>
        <title>My Title</title>
        <link rel="stylesheet" href="../../static/css/style.css">

        <style>
            table {
                width: 100%;
                border-collapse: collapse;
            }
            th, td {
                text-align: center;
                border: 1px solid;
            }
        </style>
    </head>
    <body>
        <br>
        <h1 style="text-align: center;">{{ document.company }}</h1>
        <br>
        <h3 style="text-align: center;">Agreement</h3>
        <br>
        <hr>
        <br>
        <div class="form-page-body">
            <ul>
                <li><strong>Company:</strong> {{ document.company }}</li>
                <li><strong>Client name:</strong> {{ document.client_full_name }}</li>
                <li><strong>Car model:</strong> {{ document.car.car_model }}</li>
                <li><strong>Date from:</strong> {{ document.renting_date_from }}</li>
                <li><strong>Date to:</strong> {{ document.renting_date_to }}</li>
            </ul>
            <br>
            <p>
                Current document is an agreement between <strong><u>{{ document.client_full_name }}</u></strong> and 
                <strong><u>{{ document.company }}</u></strong> about renting a car <strong><u>{{ document.car.car_model }}</u></strong> for the period 
                from <strong><u>{{ document.renting_date_from }}</u></strong> to <strong><u>{{ document.renting_date_to }}</u></strong>.
            </p>
            <h4 style="text-align:center; margin:10px 0;"><u>Main rules:</u></h4>
            <p>
                Due to this agreement client gets the car on rental term and 
                has to pay <strong><u>${{ document.car.rent_cost_per_day }}/day</u></strong> for using the auto.
            </p>
            <br>
            <p>
                Customer must return the car in rental perion in allowed 
                conditions. If the client does not return the car at the end of 
                the rental period, he receives a penalty of $100 for each 
                subsequent day after the end of the rental period. In 3 days 
                after finishing renting period if client did not have a contact
                with us the company reserves the right to contact the police 
                due to car theft.
            </p>
            <br>
            <p>
                The client and the car are insured in the company 
                "Bla Bla Insurance"
            </p>
            <br><br>
        </div>
        <hr>
        <table class="document-table">
            <tr>
                <th>Car</th>
                <th>Car number</th>
                <th>Total days</th>
                <th>per/day, $</th>
                <th>Total sum, $</th>
            </tr>
            <tr>
                <td>{{ document.car.car_model }}</td>
                <td>{{ document.car.car_number }}</td>
                <td>{{ document.get_total_rent_days }}</td>
                <td>{{ document.car.rent_cost_per_day }}</td>
                <td>{{ document.get_total_rent_price }}</td>
            </tr>
        </table>
        <hr>
        <br><br>
        <table style="margin-right: 10px;">
            <tr>
                <td style="text-align: left;">
                    <p><strong>Date:</strong> {{ document.timestamp }}</p>
                </td>
                <td>
                   <p style="text-align: right;"><strong>Signature:</strong> _______</p>
                </td>
                
            </tr>
        </table>
        
    </body>
</html>